name: "Validate"

on:
  push:
    branches: [dev]
  pull_request:
    branches: [main]

jobs:
  pre-commit:
    name: "Pre-commit"
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-python@v3
      - uses: pre-commit/action@v3.0.0

  hassfest: # https://developers.home-assistant.io/blog/2020/04/16/hassfest
    name: "Hassfest Validation"
    runs-on: "ubuntu-latest"
    steps:
      - name: "Checkout the repository"
        uses: "actions/checkout@v3.5.0"
      - name: "Run hassfest validation"
        uses: "home-assistant/actions/hassfest@master"

  hacs: # https://github.com/hacs/action
    name: "HACS Validation"
    runs-on: "ubuntu-latest"
    steps:
      - name: "Checkout the repository"
        uses: "actions/checkout@v3.5.0"

      - name: "Run HACS validation"
        uses: "hacs/action@main"
        with:
          category: "integration"
          # In progress: Remove this 'ignore' key when you have added brand images for your integration to https://github.com/home-assistant/brands
          ignore: "brands"
